::-webkit-scrollbar {
  width: 0px;
}

$base-margin: 0.95rem;

html {
  @include lucify-body-font();
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 13px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @include lucify-header-font();
  //letter-spacing: -0.03em;
  font-weight: bold;
}

img {
  border: 0px solid transparent;
}

.lucify-container {
  @include container-fixed;
  max-width: 1200px;
  padding-right: 1.35rem;
  padding-left: 1.35rem;
}

@media(min-width: $lucify-appbar-breakpoint) {
  .lucify-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.container-embed {
  @extend .lucify-container;
}

.container-fluid {
  max-width: 1200px;
}

// is this used at all anymore?
.container {
  padding-left: $base-margin;
  padding-right: $base-margin;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

p {
  @include lucify-body-font();
}

p.first {
  margin-top: 0px;
}

p.last {
  margin-bottom: 0px;
}

a {
  font-weight: normal;
  color: $lucify-cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none;
}

.nowrap {
  white-space: nowrap;
}


