
.divided-cols__parent {
  //border: 1px solid black;
  display: table;
  width: 100%;
}

.divided-cols__first {
  //border: 1px solid green;
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  padding-right: 4.0rem;
  vertical-align: top;
}

.divided-cols__second {
  border-left: 1px dotted $lucify-gray-line-color;
  display: table-cell;
  width: 50%;
  box-sizing: border-box;
  padding-left: 4.0rem;
  vertical-align: top;
}

.divided-cols--narrow__parent {
  @extend .divided-cols__parent;
}

.divided-cols--narrow__first {
  @extend .divided-cols__first;
  padding-right: 2.0rem;
  overflow: hidden;
}

.divided-cols--narrow__second {
  @extend .divided-cols__second;
  padding-left: 2.0rem;
}

.divided-cols--stacked {
  width: 100%;
  display: block;
}

.divided-cols--stacked__first {
  @extend .divided-cols__first;
  width: 100%;
  display: block;
  padding-right: 0rem;
  margin-bottom: 1rem;
}

.divided-cols--stacked__second {
  @extend .divided-cols__second;
  width: 100%;
  display: block;
  padding-left: 0rem;
  border: 0px solid transparent;
}
