
.multiples__title {
  padding-left: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.71);
  margin-bottom: 0.5rem;
}

.multiples__small .multiples__title {
  text-align: left;
  padding-left: 0px;
  margin-bottom: 1.0rem;
  margin-top: 1.5rem;
  font-size: 1.1rem;
}

.multiples__small .sex-tabs {
  margin-bottom: 0.5rem;
}

.multiples__large-item {
  margin-bottom: 1.5rem;
}

.multiples__medium-item {
  margin-bottom: 1.75rem;
}

