
.nice-button {

  cursor: pointer;
  background-color: $lucify-button-cyan;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border: 0px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 8rem;
  text-shadow: none;
  text-decoration: none;
  //text-shadow: none;
  transition: background-color 0.2s ease-in-out;
}

.nice-button:hover {
  background-color: $lucify-hover-button-cyan;
}

.nice-button:active {
  background-color: $lucify-purple;
  border: 0px solid transparent;
}

.nice-button:disabled {
  cursor: not-allowed;
  background-color: gray;
  color: black;
  opacity: 0.50;
}

.nice-button:focus {
  outline: 0;
}

.nice-button--with-icon {
  @extend .nice-button;
  display: table;

  font-size: 0.9rem;

  img {
    vertical-align: middle;
    height: 1.2rem;
    //height: 100%;
    margin-right: 0.6rem;
  }

  div {
    vertical-align: middle;
    display: table-cell;
  }

}
