
.uber-protection {
  padding: 2rem;
  font-size: 1.0rem;
  max-width: 20rem;
}

.uber-protection input.password {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.uber-protection__invalid-password {
  margin-top: 1.0rem;
  color: $lucify-purple;
}