@mixin lucify-body-font() {
  font-family: 'Open Sans', sans-serif;
}

@mixin lucify-header-font() {
  font-family: 'Montserrat', sans-serif;
}

@mixin lucify-body-text() {
  @include lucify-body-font();
  font-size: 1.0rem;
  line-height: 1.5;
}

@mixin lucify-larger-text() {
  @include lucify-body-text();
  font-size: 1.3rem;
}

@mixin lucify-large-paragraph() {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2.0;
  letter-spacing: 0.045rem;
}

@mixin lucify-medium-paragraph() {
  line-height: 1.75;
  font-weight: 100;
  font-size: 1.05rem;
}

@mixin lucify-medium-paragraph-normal() {
  line-height: 1.75;
  font-weight: normal;
  font-size: 1.05rem;
}

@mixin lucify-large-title() {
  @include lucify-header-font;
  font-size: 2.3rem;
}

@mixin lucify-smaller-text() {
  font-size: 0.9rem;
  line-height: 1.5;
}

@mixin lucify-small-title() {
  @include lucify-header-font;
  font-weight: normal;
  font-size: 1.1rem;
}

@mixin lucify-medium-title() {
  @include lucify-header-font;
  font-weight: normal;
  font-size: 1.8rem;
}

@mixin lucify-gradient() {
  background-color: $lucify-gradient-start;
  background: linear-gradient(to right,
          $lucify-gradient-start,
          $lucify-gradient-end);
}

@mixin lucify-alpha-gradient() {
  background-color: $lucify-gradient-start;
  background: linear-gradient(to right,
          $lucify-alpha-gradient-start,
          $lucify-alpha-gradient-end);
}

@mixin lucify-vertical-gradient() {
  background-color: $lucify-gradient-start;
  background: linear-gradient(to bottom,
          $lucify-gradient-start,
          $lucify-gradient-end);
}

@mixin lucify-embed-code() {
  width: 100%;
  color: $lucify-cyan;
  border: 2px solid #cdcccc;
  border-radius: 5px;
  font-size: 1.0rem;
  padding: 0.6rem;
  box-sizing: border-box;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin column() {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
  